<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <span class="glyphicon glyphicon-alert"></span> Error
    </h3>
</div>
<div class="modal-body" id="modal-body">
    Code - <b>{{ code }}</b> <br/>
    Message - <b>{{ message }}</b> <br/>
    Time - <b>{{ time }}</b> <br/>
    <span ng-if="detail !== null && detail !== undefined">
        Detalle - <span class="glyphicon glyphicon-pushpin" ng-click="toggleDetail()"></span>
        <div class="list-group-item list-group-item-warning" ng-show="showDetail == true">
           {{ detail }}
        </div>
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">Ok</button>
</div>
